body{

	min-width:240px;
	background-image: url("../images/interceptor.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-color: ghostwhite;
	color: darkslategrey;
	margin-left:10%;
	margin-right:10%;
	padding-bottom:140px;

}

h1, h2, h3{
	font-family: 'Iceland';
}

h1{
	margin-bottom:60px;
	min-height: 150px;
	background-image: url("../images/xwing_liten.png");
  max-width:60%;
	background-repeat: no-repeat;
	background-position: right top;
}

h1::first-letter,h2::first-letter{
	font-size:120%;
	color: darkblue;
	border-color: darkslategrey;
	border-left:3px solid;
	padding-left: 6px;
}

p::first-letter{
	font-family: 'Iceland';
	font-size:150%;
	color: darkblue;
}

table{
	border-collapse: collapse;
	margin: 20px;

}

th{
	font-family: 'Iceland';
	color:white;
	background-color:DarkSlateGray;
	font-size:120%;
}

tr:nth-child(even){
	background-color:lightgray;
}
