body{
	
	min-width:240px;
	
	margin-left:10%;
	margin-right:10%;
}

h1, h2, h3{
	font-family: 'Iceland';
}

h1{
	margin-bottom:60px;
	min-height: 120px;
    max-width:80%;
	background-image: url("../images/xwing_liten.jpg");
	
	background-repeat: no-repeat;
	background-position: right top;
}

p::first-letter{
	font-family: 'Iceland';
	font-size:150%;
}
